fastapi
uvicorn
pydantic
redis
langchain-community
ollama
openai
sentence-transformers
jq
chromadb
#torch --extra-index-url https://download.pytorch.org/whl/cpu
#sentence-transformers
#python-multipart
#python-dotenv